

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans 400';
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 1px;
	font-style: normal;
}



/*
================================
basic setup start
================================ 
 */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a,
span,
label{
    display: inline-block;
}

ul,
li{
    list-style: none;
}

a,
a:focus{
    text-decoration: none;
}

button,
input,
textarea,
button:focus,
input:focus,
textarea:focus{
    border: 0;
    outline: 0;
    background-color: transparent;
}

button{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr{
    margin: 0;
    padding: 0;
}

/*
================================
basic setup end 
================================ 
 */



 /* 
 ==================================
Font Size
================================== 
*/

.font-size-55 {
	font-size: 55px;
}

.font-size-35 {
	font-size: 35px;
}

.font-size-27 {
	font-size: 27px;
}

.font-size-24 {
	font-size: 24px;
}

.font-size-20 {
	font-size: 20px;
}

.font-size-18 {
	font-size: 18px;
}

.font-size-17 {
	font-size: 17px;
}

.font-size-16 {
	font-size: 16px;
}

.font-size-15 {
	font-size: 15px;
}

.font-size-14 {
	font-size: 14px;
}
.font-size-13 {
	font-size: 13px;
}

/*
==================================
Font Color
==================================
*/
.text-color-ff {
	color: #FFFFFF;
}

.text-color-33 {
	color: #333333;
}

.text-color-73 {
	color: #73b21a;
}

.text-color-66 {
	color: #666666;
}

.text-color-97 {
	color: #979797;
}
.text-color-dd {
	color: #DDDDDD;
}
.text-color-80 {
	color:#808080 ;
}

/*
==================================
BG Color 
==================================
*/
.bg-color-73 {
	background: #73b21a;
}

.bg-color-ff {
	background: #FFFFFF;
}

.bg-color-4b {
	background: #4B7017;
}

.bg-color-40 {
	background: #406E00;
}

.bg-color-15 {
	background: #151515;
}
.bg-color-f9 {
	background: #F9F9F9;
}


/* 
======================
reusable components start
======================
*/


.line-1,
.line-2{
	border: 0;
	border-bottom: 2px solid #73b21a;
	opacity: 1;
	margin-right:auto ;
	margin-left:auto ;
}

.line-1{
	width: 120px;
	margin-bottom: 4px;
}

.line-2{
	width: 75px;
}

.p-w{
	max-width: 810px;
}

.btn-primy{
	min-width: 150px;
	height: 40px;
	line-height: 40px;
	border-radius: 30px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.btn-primy:hover{
	background-color: #4B7017;
}

.transtion-ease{
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.transtion-linear{
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}


.overlay-2{
	width: 100%;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 57, 69, 0.5)), to(rgba(96, 131, 48, 0.5)));
	background: -o-linear-gradient(rgba(51, 57, 69, 0.5), rgba(96, 131, 48, 0.5));
	background: linear-gradient(rgba(51, 57, 69, 0.5), rgba(96, 131, 48, 0.5));
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: 0.3s all linear;
	-o-transition: 0.3s all linear;
	transition: 0.3s all linear;
}

/* 
======================
reusable components end
======================
*/





/* 
====================
header start
====================
*/
.header-top{
	padding: 6px 0;
}
.signup-signin li:last-child a{
	border-radius: 10px;
}
.main-menu ul li:last-of-type a,
.mobail-menu-search-area a {
	height: 35px;
	width: 35px;
	line-height: 35px;
    text-align: center;
	
}
.main-menu ul li:not(:last-child) a:hover{
	color: #73b21a;
}

/* 
====================
searchbox
====================
*/
.search-box{
	position: absolute;
	top: 200%;
	right: 0;
	min-width:330px;
	background: #ecf0f1;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
}
.search-box-show{
	visibility: visible;
	opacity: 1;
	top: 150%;
}
.search-box input{
	background: #ffffff;

}
.search-box input::-webkit-input-placeholder{
	font-size: 16px;
	font-family:'Open Sans 400';
	color: #151515;
}
.search-box input::-moz-placeholder{
	font-size: 16px;
	font-family:'Open Sans 400';
	color: #151515;
}
.search-box input:-ms-input-placeholder{
	font-size: 16px;
	font-family:'Open Sans 400';
	color: #151515;
}
.search-box input::-ms-input-placeholder{
	font-size: 16px;
	font-family:'Open Sans 400';
	color: #151515;
}
.search-box input,
.search-box input::placeholder{
	font-size: 16px;
	font-family:'Open Sans 400';
	color: #151515;
}
.search-box button{
	background-color: #73b21a;
}
/* 
====================
menu toggler btn
====================
*/
.menu-toggle-btn{
	position: relative;
	z-index: 99999;
}
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #73b21a;
	margin: 6px 0;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
  }
  
  .change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	-ms-transform: rotate(-45deg) translate(-9px, 6px);
	    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	-ms-transform: rotate(45deg) translate(-8px, -8px);
	    transform: rotate(45deg) translate(-8px, -8px);
  }

.header-sticky.stick {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	z-index: 999999;
	padding: 25px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}


/* 
====================
header end
====================
*/

/* 
====================
hero section start
====================
*/


.hero-section{
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 57, 69, 0.7)), to(rgba(96, 131, 48, 0.7))), url(../img/banner1.jpg);
	background: -o-linear-gradient(rgba(51, 57, 69, 0.7), rgba(96, 131, 48, 0.7)), url(../img/banner1.jpg);
	background: linear-gradient(rgba(51, 57, 69, 0.7), rgba(96, 131, 48, 0.7)), url(../img/banner1.jpg);
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}
.hero-img{
	margin-bottom: -2px;
}

.hero-text p{
	padding-right: 60px;
}

.hero-text a{
	border-radius: 10px;
}




/* 
====================
hero section end
====================
*/


/* 
====================
garden section start
====================
*/
.garden-title h2{
	font-style: italic;
	margin-bottom: 7px;
}
.garden-row{
	margin-left: -15px;
	margin-right: -15px;
}
.garden-row > * {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.garden-box{
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	min-height: 250px;
}

.garden-box:hover{
	background:  #73b21a;
}

.garden-box a{
	position: absolute;
	left: 50%;
	bottom: -17px;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

/* 
====================

garden section end
====================
*/



/* 
====================
lanscapping section start
====================
*/
.lands-section{
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/banner2.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner2.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner2.jpg);
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
}
.open-video .play-btn{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.land-content p{
	margin-top: 23px;
}
.land-content a{
	background: #73b21a;
}
/* 
====================
lanscapping section end
====================
*/


/* 
====================
service section start
====================
*/

.service-title h2{
	font-style: italic;
	margin-bottom: 7px;
}
.service-box{
	padding: 28px 13px;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}
.service-box:hover{
	background-color: #73b21a;
}

.service-box .service-icon span{
	width: 55px;
	height: 55px;
}

.service-desc hr{
	opacity: 1;
	border: 0;
	background-color: transparent;
	border-bottom: 2px dashed #73b21a ;
	margin:3px 0 5px;
}
.service-box:hover .service-icon span{
	background-color: #FFFFFF;
}
.service-box:hover .service-icon span i{
	color: #73b21a;
}
.service-box:hover .service-desc hr {
	border-color: #FFFFFF;
}
.service-box:hover .service-desc h5 ,
.service-box:hover .service-desc p {
	color: #FFFFFF;
}
/* 
====================
service section end
====================
*/

/* 
====================
counter section start
====================
*/
.counter-section{
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/banner3.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/banner3.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/banner3.jpg);
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
}
.counter-img{
	width: 68px;
	height: 68px;
	border: 2px solid #FFFFFF;
	margin-bottom: 2px;
	-webkit-transition:0.3s all ease ;
	-o-transition:0.3s all ease ;
	transition:0.3s all ease ;
}
.counter-img:hover{
	background-color: #73b21a;
	border-color: transparent;
}
.counter-item p:last-child{
	margin-top: -7px;
}

/* 
====================
counter section end
====================
*/


/* 
====================
team section start
====================
*/

.team-title h2{
	font-style: italic;
	margin-bottom: 7px;
}
.team-content:hover .social-link{
	bottom: 0;
}

.team-img{
	overflow: hidden;
}
.social-link{
	padding: 7px 0;
	position: absolute;
	left: 0;
	bottom: -44px;
	width: 100%;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	z-index: 111;

}
.overlay{
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(96, 131, 48, 0.4)), to(rgba(51, 57, 69, 0.4)));
	background: -o-linear-gradient(rgba(96, 131, 48, 0.4), rgba(51, 57, 69, 0.4));
	background: linear-gradient(rgba(96, 131, 48, 0.4), rgba(51, 57, 69, 0.4));
	position: absolute;
	left: 0;
	bottom: -100%;
	-webkit-transition:.5s all linear;
	-o-transition:.5s all linear;
	transition:.5s all linear;
	z-index: 11;
}
.team-content:hover .overlay{
	bottom: 0;
}
.team-name{
	padding: 9px 0;
}
.team-name p:last-child{
	margin-top: -4px;
}
/* 
====================
team section end
====================
*/




/* 
====================
gallery section start
====================
*/

.gallery-title h2{
	font-style: italic;
	margin-bottom: 7px;
}
.btn-area{
	margin-bottom: 44px;
}

.gallery-img:hover .gallery-overlay{
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}
.mixitup-control-active{
	text-decoration: line-through;
}

/* 
====================
gallery section end
====================
*/



/* 
====================
testimonial section start
====================
*/

.testimonial-section{
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/banner4.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/banner4.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/banner4.jpg);
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
}

.slider-content img{
	width: 90px;
	height: 90px;
	border: 5px solid #FFFFFF;

} 
.slider-content:nth-child(2){
	margin: 12px 0 -4px;
}
.slider-content p:last-of-type{
	max-width: 761px;
	margin-top: 2px;
}
.swiper-pagination{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 0;
}
.swiper-pagination-bullet{
	width: 17px;
	height: 17px;
	background-color: #FFFFFF;
	opacity: 1;
	display: block;
}
.swiper-pagination-bullet-active{
	width: 20px;
	height: 20px;
	background-color: #73b21a;
}

/* 
====================
testimonial section end
====================
*/




/* 
====================
news section start
====================
*/

.news-content:hover .news-overlay{
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}
.news-content:hover {
	-webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.news-img{
	overflow: hidden;
}
.news-img .month{
	min-width: 135px;
	position: absolute;
	left: 0;
	bottom:-36px;
	border-top-right-radius:20px ;
	-webkit-transition: 0.5s all linear;
	-o-transition: 0.5s all linear;
	transition: 0.5s all linear;
	
}

.news-content:hover .month{
	bottom: 0;
	
}
.news-desc{
	padding-left: 14px;
	padding-right: 14px;
}
.news-link{
	padding: 8px 15px;
}

.news-link a:hover{
	color: #73b21a;
}
.news-link a span:last-child{
	opacity: 0;
	visibility: hidden;
}
.news-link a:hover .news-icon{
	opacity: 1;
	visibility:visible;
}
/* 
====================
news section end
====================
*/




/* 
====================

====================
*/
.f-line{
	border:0;
	border-bottom: 1px solid #FFFFFF;
}
.f-social-link li a:hover{
	color: #73b21a;
}
.pageslink li a i{
	font-size: 6px;
	vertical-align: middle;
}
.pageslink li a:hover .dote{
	color:#73b21a;
}
.pageslink li a:hover{
	padding-left: 4px;
}
.footer-content .time{
	border-bottom: 1px solid #FFFFFF;
}
.footer-content .time:hover {
	border-color: #73b21a;
}
.footer-content .time:hover .time-text{
	color: #73b21a;
}
.f-bottom-page-link ul li a:hover{
	color: #73b21a;
}








/* scroll to top button */


#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 35px;
	height: 35px;
  }
  #myBtn:focus{
	  background-color: #73b21a;
  }
